/* body part - includes animation as a color change */

body {
    font-family: sans-serif;
    text-align: center;
    font-size: 3px;
    /* background-image: linear-gradient(#e9c284, #fe8a71); */
    background: pink;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {
        background-color: pink;
    }
    to {
        background-color: yellow;
    }
}


/* The outer box : this contains all the contents of the todo list */

.outer_box {
    margin-right: 25%;
    margin-left: 25%;
    border: 15px solid;
    border-radius: 3%;
}


/* heading : it consists of the heading of the page  */

h2 {
    color: blue;
    font-family: verdana;
    font-size: 3rem;
}

.header {
    background-color: #EDBDFF;
    padding: 30px 30px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}


/* created a flex container which stores the 1)description 2)Category 3)Date 4)Add button */

.flex_container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7fb8f1;
}

.flex_container>div {
    flex-basis: 0;
    background-color: #7fb8f1;
    margin: 1.5vw;
    padding: 0.4vw;
    font-size: 1.2vw;
}


/* modifying the date part */

#date {
    border: 25px solid #7fb8f1;
}


/* for the  Category and Date part*/

.flex_container2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    background-color: #7fb8f1;
    ;
}

.flex_container>div :nth-of-type(2) {
    width: 50%;
}

.flex_container2>div {
    background-color: #FFE7B3;
    /* margin: 1.5vw; */
    /* padding: 0.4vw; */
    font-size: 1.5vw;
}

#desc {
    width: 90%;
}

.width {
    width: 90%;
}


/* just modifying the styles of the buttons as oer choice */

#description {
    border-radius: 12%;
}

#category {
    padding: 14px;
}

#date {
    padding: 11px;
}

#submit_prop {
    margin: 5px;
    margin-top: -5px;
    border-radius: 12%;
}

#div1 {
    font-size: 24px;
    color: brown;
}


/* The cursor and line part in which the line is written using javascript and added animation*/

#container {
    text-align: center;
}

#text {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
}

#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 20px;
    background-color: black;
    animation: blink .75s step-end infinite;
}


/* animation of the line */

@keyframes blink {
    from,
    to {
        background-color: transparent
    }
    50% {
        background-color: black;
    }
}


/* In this part I have added styles to the table part */

#todo {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#todo td,
#todo th {
    border: 1px solid #ddd;
    padding: 8px;
}

#todo tr:nth-child(even) {
    background-color: #FEECD4;
}

#todo tr:nth-child(odd) {
    background-color: #FEECD4;
}

#todo th {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F89F05;
    color: black;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
}


/* The submit button part */

.addBtn {
    /* padding: 10px; */
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    background-color: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
}

.addBtn:hover {
    color: rgb(243, 243, 243);
    background-color: rgb(0, 0, 0);
}